# Ignore everything
*

# Allow project files
!app.py
!requirements.txt
!README.md
!train.ipynb
!test.ipynb
!yolo26n.pt
!.gitignore

# Allow pretrained model folder
!pretrained_model/
!pretrained_model/**